<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- Load parameters -->
  <rosparam command="load" ns="image_rectification" file="$(find image_rectification)/config/rectification.yaml"/>

  <!-- Start image rectification -->
  <node pkg="image_rectification" type="ImageRectificationNode" name="image_rectification" launch-prefix="$(arg launch_prefix)" output="screen" respawn="true">
  </node>

</launch>
